<!doctype html>
<html lang="fr">
<head>

    <!-- <meta charset="utf-8"> -->
    <title>Essais calendrier</title>

    <link rel='stylesheet' href='/static/css/fullcalendar.min.css' />
    <script src='/static/js/jquery-3.1.0.min.js'></script>
    <script src='/static/js/moment.min.js'></script>
    <script src='/static/js/fullcalendar.min.js'></script>
    <script src='/static/js/lang/fr.js'></script>
    <script type='text/javascript'>

    function supprimer(event_id) {
        $.ajax({
            url: 'delete_event/',
            data: 'event_id='+event_id,
            type: 'GET',
            dataType: 'json',

            success: function(response) {
                $('#calendar').fullCalendar('removeEvents', event_id);
            },
        });
    }

    $(document).ready(function() {
        $('#calendar').fullCalendar({
            timezone: 'local',
            //titre
            header: {
                left: 'title',
                center: '',
                right: 'today prev,next'
            },
            aspectRatio: 1.55,
            scrollTime: '08:00:00',
            // options
            defaultView: 'agendaWeek',
            allDaySlot: false,
            slotLabelFormat: 'HH:mm',
            eventColor: 'IndianRed',
            selectable: true,
            selectHelper: true,
            editable: true,
            // DATAS
            events: {
                url: 'get_events/',
            },

            select: function(start, end) {
                $.ajax({
                    url: 'create_event/',
                    data: 'start='+start+'&end='+end,
                    type: 'GET',
                    dataType: 'json',

                    success: function(response) {
                        eventData = {
                        start: start,
                        end: end,
                        id: response.event_id,
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, false); // stick? = true
                    },
                });
                $('#calendar').fullCalendar('unselect');
            },
            eventRender: function( event, element, view ) {
                element.find('.fc-time').append('<img onclick="supprimer('+event.id+')" src="/static/img/trashbin.png" style="float:right"></img>');
            },
            eventDrop: function(event, delta, revertFunc) {
                $.ajax({
                    url: 'move_event/',
                    data: 'event_id=' + event.id + '&delta=' + delta,
                    type: 'GET',
                    dataType: 'json',
                    error: function(response) {
                        alert("Erreur lors du déplacement");
                        revertFunc();
                    },
                });
            },
            eventResize: function(event, delta, revertFunc) {
                $.ajax({
                    url: 'resize_event/',
                    data: 'event_id=' + event.id + '&delta=' + delta,
                    type: 'GET',
                    dataType: 'json',
                    error: function(response) {
                        alert("Erreur lors du redimensionnement");
                        revertFunc();
                    },
                });
            },
        })
        // Initialisation supplémentaires
        $('#calendar').fullCalendar('next');

});
    </script>
</head>
<body>
  <!-- Le reste du contenu -->
  <h2 id="titre">Encodage de l'horaire de stage</h2>
  <div style="float:right"><a href="calendar_logout/">Déconnexion</a></div>
  <div id="calendar" style="width:850px"></div>
</body>
</html>
